In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://coronaclusters.in/delhi")

In [3]:
df[0]

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Last Updated
0,East Delhi,1,0,0,0,1,0,2020-03-15 13:22:39
1,South West Delhi,3,0,1,0,0,2,2020-03-24 13:22:39
2,West Delhi,2,0,0,0,1,1,2020-03-20 13:22:39
3,North Delhi,3,0,0,0,0,3,2020-03-20 13:22:39
4,New Delhi,5,0,0,0,0,5,2020-04-01 13:22:39
5,South Delhi,25,0,0,0,0,25,2020-03-30 13:22:39
6,North East Delhi,1,0,0,0,0,1,2020-03-18 13:22:39
7,North West Delhi,4,0,1,0,0,3,2020-03-20 13:22:39
8,Unknown,2946,2946,20,0,25,2901,2020-04-26 13:22:40